<article class="message is-success mt-5">
  <div class="message-header">
    Welcome!
  </div>
  <div class="message-body">
    Yay! We got a new site setup!
  </div>
</article>

<%= if @live_action in [:login, :register] do %>
  <%= live_component @socket, StoresWeb.LoginComponent, Map.merge(assigns, %{id: :login}) %>
<% end %>
